---
---

@import "minima";

body {
  background-color: #27272a;
  color: #e6e6e6;
}

.site-title,
.site-title:visited {
  color: #ffffff;
}

.page-content {
  padding: 20px 0;
}

.wrapper {
  max-width: 900px;
}

a,
a:visited {
  color: #a882ff;
}

a:hover,
a:focus {
  text-decoration: none;
}
