---
---

@import "minima";

body {
  background-color: #121212;
  color: #e6e6e6;
}

.site-title,
.site-title:visited {
  color: #ffffff;
}

.page-content {
  padding: 20px 0;
}

.wrapper {
  max-width: 900px;
}

/* Links */
a {
  color: #a882ff;
}

a:hover {
  text-decoration: none;
}

/* Code blocks (if you use them) */
pre,
code {
  background-color: #1e1e1e;
  color: #e6e6e6;
}

/* Horizontal lines */
hr {
  border-color: #333;
}